.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
Thumbs.db
ehthumbs.db
[Bb]in/
[Oo]bj/
*.rsuser
*.rslog
*.pidb
mono_crash.*
AppPackages/
.localhistory/
*.mdf
*.ldf
/.vsconfig/
.idea/
*.sln.iml
AZURE*
publish/
